<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
            <li>{{ message }}</li>
                {% endfor %}
             </ul>
        {% endif %}
    {% endwith %}

    {% from "_fieldrender.html" import render_field %}
        <form method=post action="{{url_for('user.edit_profile')}}">
            <dl>
                {{ render_field(form.name) }}
                {{ render_field(form.company) }}
                {{ render_field(form.phone_number) }}
                {{ render_field(form.ssn) }}
                {{ form.csrf_token }}

            </dl>
            <p><input type=submit value="Edit">
        </form>
</body>
</html>