<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="styles/bulma.min.css") }}>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="styles/login.css") }}>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta charset="utf-8">

</head>
<body>

    <header class="header">
        <div class="container">
            <div class="header-left">
                <a class="header-item" href="/register">
                    
                </a>
            </div>
            <div class="header-right" style="direction: rtl;">
                <div class="header-item logo" >
                    <img src={{ url_for('static',filename="medias/abrio-transparent.png") }}>
                    <span class="header-banner">
                     اَبریو
                    </span>
                </div>
                
                <a class="header-item" href="#">خانه</a>
            </div>

        </div>
    </header>
    <div class="hero is-large">
            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="message is-danger">
                                  <div class="message-header">
                                    Messages
                                  </div>
                                  <div class="message-body">
                                    <ul class=flashes>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                    </ul>
                                  </div>
                                </div>    
                    {% endif %}
            {% endwith %}
        <div class="columns">
            <div class="column is-4 is-offset-4 title " align="center">ورود</div>
        </div>
        <div class="columns">
        <form class="column is-4 is-offset-4 border" method="post">
            <label class="label">پست الکترونیکی</label>
            <p class="control has-icon">
                {{form.email(class_="input")}}
                <i class="fa fa-envelope"></i>
            </p>
            <label class="label">رمز عبور</label>
            <p class="control has-icon">
                {{form.password(class_="input")}}
                <i class="fa fa-lock"></i>
            </p>
            {{form.csrf_token}}
            <p class="control">
                <button class="button is-success" type="submit">
                    ورود
                 </button>
            </p>
              
        </form>
        
    </div>
    <div class="columns">
        <a href="\register" class="notice column is-4 is-offset-4 ">یک حساب کاربری بسازید</a>
    </div>
    </div>
         
   

</body>
</html>