<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>ثبت نام در ابریو</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="styles/bulma.min.css") }}>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="styles/login.css") }}>
       <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="styles/responsive/login-and-register.css") }}>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta charset="utf-8">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-left">
        </div>
        <div class="header-right" style="direction: rtl;">
            <a class="header-item logo" href="/">
                <img src={{ url_for('static',filename="medias/abrio-transparent.png") }}>
                <span class="header-banner">
                 اَبریو
                </span>
            </a>
            <a class="header-item" href="#">خانه</a>
        </div>
    </div>
</header>
<div class="hero is-large">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="message is-danger">
                <div class="message-header">
                    Messages
                </div>
                <div class="message-body">
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    <div class="columns only-large">
        <div class="column is-4 is-offset-4 title" align="center">ثبت نام</div>
    </div>
    <div class="columns">
        <form class="border column is-4 is-offset-4" action="{{url_for('user.register')}}" method="post">
            <label class="label">پست الکترونیکی</label>
            <p class="control has-icon">
                {{form.email(class_="input")}}
                <i class="fa fa-envelope"></i>
            </p>
            {% for error in form.email.errors %}
                {{ error }}
            {% endfor %}
            <label class="label">رمز عبور</label>
            <p class="control has-icon">
                {{form.password(class_="input")}}
                <i class="fa fa-lock"></i>
            </p>
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
            <label class="label">تکرار رمز عبور</label>
            <p class="control has-icon">
                {{form.confirm(class_="input")}}
                <i class="fa fa-lock"></i>
            </p>
            {% for error in form.confirm.errors %}
                {{ error }}
            {% endfor %}
            {{form.csrf_token}}
            <p class="control">
                <button class="button is-success" type="submit">
                    ثبت نام
                </button>
            </p>
        </form>
    </div>
</div>
<div class="columns">
    <a href="{{url_for('user.login')}}" class="notice column is-4 is-offset-4 ">حساب کاربری دارید ؟</a>
</div>
</body>
</html>