<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unconfirmed Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bulma.min.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Nunito:700' rel='stylesheet' type='text/css'>

</head>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="hero is-primary is-fullheight">
    <div class="hero-content">
        <div class="title">
            <img src={{ url_for('static',filename="medias/404.png") }} alt="Logo">
            <h1 style="margin-top: 1em;">حساب کاربری شما هنوز تایید نشده است.</h1>
            <p> پیش از این که به این سایت دسترسی داشته باشید لازم است حساب کاربری خود را تایید کنید.</p><br>
            <p> برای اینکار روی لینکی که برای شما ایمیل شده است کلیک کنید.</p> <br>
            <p> اگر به یک ایمیل تایید حساب کاربری دیگر نیاز دارید روی <a
                    href="{{ url_for('user.resend_confirmation') }}"> این لینک </a>کلیک کنید.
            </p>
        </div>
    </div>
</div>
</body>
</html>