{% extends "base.html" %}
{%block head %}
{{super()}}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/component-list.css')}}">
{% endblock %}


{%block content %}
<!-- content -->
                <div class="column is-8 is-offset-1 main">

                <div class="columns" >
                    <a href="#" class="column is-3 is-offset-1 card">
                       <div >
                        <div class="card-image">
                            <fisgure class="image is-4by3">
                              <img src="http://placehold.it/300x225" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title">Top Project</p>
                        </div>
                    </div>
                    </a>
                    <a href="#" class="column is-3 card">
                       <div >
                        <div class="card-image">
                            <fisgure class="image is-4by3">
                              <img src="http://placehold.it/300x225" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title">Top Project</p>
                        </div>
                    </div>
                    </a>
                    <a href="#" class="column is-3 card">
                       <div >
                        <div class="card-image">
                            <fisgure class="image is-4by3">
                              <img src="http://placehold.it/300x225" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title">Top Project</p>
                        </div>
                    </div>
                    </a>

                </div>

            <br>
                <div class="columns">

                    <div class="column rtl is-6 is-offset-1"><input id="search-input" type="text"  maxlength="120" placeholder="نام کامپوننت"></div>
                    <div class="column rtl is-4"><input type="submit" class="button is-success" value="جستجو" onclick="search()"></input>
                    </div>
                </div>

            <div class="columns">
                <div id="list" class="column is-10 is-offset-1">
                    {% for component in components%}
                    <div class="project">

                        <div class="columns">

                            <div class="column is-4">
                                <div class="columns">
                                    <div align="center" class="column is-4">
                                        <a href="{{url_for('component.view',cid=component.id)}}">
                                            <p><i style="font-size:1.5em;" class="fa fa-angle-left"></i></p>
                                            <p>جزئیات</p>
                                        </a>

                                    </div>

                                </div>
                            </div>
                            <div class="column is-8">
                                <div class="name">{{component.name}}</div>

                            </div>


                        </div>

                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>


{% endblock %}

{%block script %}
{{super()}}
    document.getElementsByClassName("submenu")[0].getElementsByTagName("li")[2].className="selected";
function search(){
	    var name=document.getElementById("search-input").value
        $.ajax({
        url: '/api/v1/component/search/'+name,
        type: 'GET',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: false,
        success: function(msg) {
            components=msg['result'];
            e=document.getElementById('list');
            while (e.firstChild) {
            e.removeChild(e.firstChild);
            }
            for( i=0;i<components.length;i++){
                console.log(components[i]);}

        }
    });
};
{% endblock %}

