{% extends "base.html" %}
{%block head %}
{{super()}}
<title>آموزش </title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/user-panel.css')}}">
{%endblock%}

{%block content %}
<div class="column is-11-mobile is-8 is-offset-1 main">
    <p>need content</p>
</div>
{% endblock %}

{%block script %}
{{super()}}
$(function() {
$( "ul.droptrue" ).sortable({
items : "li:not('.info')",
connectWith: "ul",
change:function(){
$('button.accfood').removeAttr('disabled');

}
});
});
{% endblock %}