@font-face{
    font-family: 'Yekan';
    src: url('../font/BYekan.eot?#iefix') format('embedded-opentype'),
    url('../font/BYekan.woff') format('woff'),
    url('../font/BYekan.ttf') format('truetype');
}
html {
	background-color: #1899d3;
}
body *{
	font-family: 'Yekan' , sans-serif;
}
body{
	font-family: 'Yekan' , sans-serif;
}

footer{
	border-top : 1px solid #1899d3;
	font-size: 1.2em;
	background-color: #fff !important;
	display: none;
}
 footer .content {
 	direction: rtl;

 }
 .navbar{
 	color: #fff;
 	margin-top: 2em;
 }
 a.notice{
 	border:1px solid #f9f9f9;
 	border-radius: 4px;
 	height: 55px;
 	margin-top: 1em;
 	line-height: 35px;
 	color:#f1f1f1;
 	font-size: 1.2em;
 	text-align: center;
 }
 a.notice:hover{
 	color: #ccc;
 	border-color:#ccc;
 }
 .hero{
 	padding-top: 3em;
 	padding-bottom: 3em;
 	background-color: #1899d3;
 }
 .link{
 	direction: rtl;
 	text-align: right;
 	padding-top: 5em;
 	margin-top: 1em;
 }
.header {
	direction: ltr;
	color : #fff;
	border: none;
	box-shadow: none;
	min-height: 5rem;
	font-size: 1.2em;
	background-color: #1899d3;

}
.header-item{
	margin-left: 1em;
	opacity: 0.8;
}
.logo:hover{
	text-decoration: normal !important;
}
.header-banner{
	color: #fff;
	margin-left: 1em;
	margin-right: 0.5em;
}
.header .container {
	box-shadow: none;
	border-bottom: 1px solid #e3e3e3;
}
.input{
	background-color: #fff;
	border : 1px solid #ccc;
	border-radius: 4px;
	padding: 1em;
	min-height: 45px;
	box-shadow: none;
}
.has-icon i.fa{
	line-height: 35px !important;

}
.header a {
	color: inherit;

}
.header a:hover {
	opacity: 1;
}
.header a.btn:hover{
	margin-bottom: 0 !important;
}
form legend{
	margin-bottom: 1em;
	margin-top: 1em;
}
form button {
	width: 100%;
	margin:auto;
	margin-top: 2em;
	min-height: 55px;
	font-size: 3em;
	float: right;
	font-family: 'Yekan';

}
.border{
	background-color: #ecf0f1;
	border-radius: 4px;
	border:1px solid #e3e3e3;
	margin-top: 2em;
	padding: 1em;
	color: #7f8c8d;
}
.label{
	text-align: right;
	color: #7f8c8d;
	margin-top: 1em;
}
.title{
	color: #fff;
}
/*p.control {
	text-align: center;
}*/
.column{
	direction: rtl;
}
