@font-face{
    font-family: 'Yekan';
    src: url('../font/BYekan.eot?#iefix') format('embedded-opentype'),
    url('../font/BYekan.woff') format('woff'),
    url('../font/BYekan.ttf') format('truetype');
}
@keyframes load{
		from{font-size: 0em;opacity: 0;}
		to{font-size: 1em;opacity: 1}
	}
	@-ms-keyframes load{
		from{font-size: 0em;}
		to{font-size: 1em;opacity: 1}
	}
	@-moz-keyframes load{
		from{font-size: 0em;;opacity: 0;}
		to{font-size: 1em;opacity: 1}
	}
	@-webkit-keyframes load{
		from{font-size: 0em;;opacity: 0;}
		to{font-size: 1em;opacity: 1}
	}
	@-o-keyframes load{
		from{font-size: 0em;;opacity: 0;}
		to{font-size: 1em;opacity: 1}
	}
	.main{
		animation:load .5s forwards;
		-webkit-animation:load .5s forwards;
		-moz-animation:load .5s forwards;
		-o-animation:load .5s forwards;
		-ms-animation:load .5s forwards;
	}

	@keyframes boxHover{
		from{border-color: #f2f2f2;box-shadow: none;}
		to{border-color:#e3e3e3;box-shadow: 0px 0px 15px 0px #e3e3e3;}
	}
	@-webkit-keyframes boxHover{
		from{border-color: #f2f2f2;box-shadow: none;}
		to{border-color:#e3e3e3;box-shadow: 0px 0px 15px 0px #e3e3e3;}
	}
	@-moz-keyframes boxHover{
		from{border-color: #f2f2f2;box-shadow: none;}
		to{border-color:#e3e3e3;box-shadow: 0px 0px 15px 0px #e3e3e3;}
	}
	@-o-keyframes boxHover{
		from{border-color: #f2f2f2;box-shadow: none;}
		to{border-color:#e3e3e3;box-shadow: 0px 0px 15px 0px #e3e3e3;}
	}
	@-ms-keyframes boxHover{
		from{border-color: #f2f2f2;box-shadow: none;}
		to{border-color:#e3e3e3;box-shadow: 0px 0px 15px 0px #e3e3e3;}
	}
	
html {
	background-color: #fff;
}
body *{
	font-family: 'Yekan' , sans-serif;
}
body{
	font-family: 'Yekan' , sans-serif;
	direction: rtl;
}
.titr img{
	width: 100px ;
	height: 100px;
	vertical-align: middle;

}
.titr{
	margin-bottom: 5em;
	padding-bottom: 2em;
	
}
.input{
	background-color: #fff;
	box-shadow: none;
}
footer{
	border-top : 1px solid #e3e3e3;
	font-size: 1.2em;
	background-color: #fff !important;
}
 footer .content {
 	direction: rtl;

 }
 .main{
 	padding-top: 3em;
 }
 .hero{
 	padding-bottom: 0.8em;
 }
.rtl{
	text-align: right;
	direction: rtl;
	padding-right: 2em;
}
h1{
	font-size: 1.2em;
}
.header {
	direction: ltr;
	color : #454545;
	border: none;
	box-shadow: none;
	min-height: 5rem;
	font-size: 1.2em;
	border-bottom: 2px solid #e3e3e3;
}
.header-item{
	margin-left: 1em;
	opacity: 0.8;
}
.logo:hover{
	text-decoration: normal !important;
}
.header-banner{
	color: #1899d3;
	margin-left: 1em;
	margin-right: 0.5em;
}
.header .container {
	box-shadow: none;
}
.header a {
	color: inherit;

}
.header a:hover {
	opacity: 1;
}
table td,table th{
	text-align: right;
}
.submenu{
			z-index: 1;
			min-height : 100%;
			padding: 0;
			color: #454545;
		}
		.submenu a{
			color: inherit;
		}

		.submenu li{
			margin-bottom: 0em;
			min-height: 5em;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			vertical-align: middle;
			line-height: 5em;
		}
		.selected{
			background-color: rgba(255,255,255,1);
			border-right: 10px solid #1899d3 ;
			padding-right: 30px;
			color:#1899d3;
			margin-left: -2px;
			border-top:	2px solid #1899d3 ; 
			border-bottom:	2px solid #1899d3  !important; 

		}
		.submenu li:after  {
			content: ">";
			vertical-align: bottom;
			margin-right: 1em;
			
		}
		.sidemenu{
			/*background:linear-gradient(141deg, #4DABA5 0%, #56B4BF 51%, #5DA9C6 75%);
			background:-webkit-linear-gradient(141deg, #4DABA5 0%, #56B4BF 51%, #5DA9C6 75%);
			background:-moz-linear-gradient(141deg, #4DABA5 0%, #56B4BF 51%, #5DA9C6 75%);
			background:-o-linear-gradient(141deg, #4DABA5 0%, #56B4BF 51%, #5DA9C6 75%);*/



background: #e3e3e3;
background: -moz-linear-gradient(-45deg, #e3e3e3 0%, #e3e3e3 46%, #b6d3df 83%, #89c2dc 96%, #89c2dc 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, #e3e3e3), color-stop(46%, #e3e3e3), color-stop(83%, #b6d3df), color-stop(96%, #89c2dc), color-stop(100%, #89c2dc));
background: -webkit-linear-gradient(-45deg, #e3e3e3 0%, #e3e3e3 46%, #b6d3df 83%, #89c2dc 96%, #89c2dc 100%);
background: -o-linear-gradient(-45deg, #e3e3e3 0%, #e3e3e3 46%, #b6d3df 83%, #89c2dc 96%, #89c2dc 100%);
background: -ms-linear-gradient(-45deg, #e3e3e3 0%, #e3e3e3 46%, #b6d3df 83%, #89c2dc 96%, #89c2dc 100%);
background: linear-gradient(135deg, #e3e3e3 0%, #e3e3e3 46%, #b6d3df 83%, #89c2dc 96%, #89c2dc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#89c2dc', GradientType=1 );
			padding-left: 0px;
			border-left:2px solid #1899d3 ;

		}