input[disabled]{
	background-color: transparent;
	border:none;
}
.middle {
	padding-top: 2em;
}
.avatar { 
		width: 85%;
		vertical-align: middle;
		border-radius: 50%;
		border : 3px solid #f1f1f1;
	 }
	
	.detail div{
		margin-bottom: 1em;
		padding-right: 3em;
	}
	.exp{
		color: #e74c3c;
	}
	.start{
		color: #2ecc71;
	}
	.hover{
		position: absolute;
		text-align: right;
		direction: rtl;
		margin-top: -5em;
		width: 0%;
		height: 5em;
		background-color: rgba(255,255,255,0.3);
		/*background-color: rgba(24,153,211,0.2);*/
		cursor:pointer;
		z-index: 0;
	}
	.project , .component{
		text-align: right;
		background-color: #f1f1f1;
		border-radius: 4px;
		padding: 2em;
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 0.5em;
		margin-right: 0.5em;

	}
	.project .title , .component .title {
		font-size: 1.2em;
	}
	.project ul , .component ul {
		max-height: 15em ; 
		overflow-y : scroll;
	}
	.project ul li , .component ul li {
		background-color: #fff ; 
		border:1px solid #e3e3e3;
		border-radius: 4px;
		padding: 1em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		color: #454545;
	}
	.project ul li:hover , .component ul li:hover{
		background-color: #1899d3;
		color: #fff;
		cursor: pointer;
	}
	
	.main,.sidemenu{
		min-height: 85vh;
	}
		.sidemenu{
			/*background:linear-gradient(141deg, #4DABA5 0%, #56B4BF 51%, #5DA9C6 75%);
			background:-webkit-linear-gradient(141deg, #4DABA5 0%, #56B4BF 51%, #5DA9C6 75%);
			background:-moz-linear-gradient(141deg, #4DABA5 0%, #56B4BF 51%, #5DA9C6 75%);
			background:-o-linear-gradient(141deg, #4DABA5 0%, #56B4BF 51%, #5DA9C6 75%);*/



background: #e3e3e3;
background: -moz-linear-gradient(-45deg, #e3e3e3 0%, #e3e3e3 46%, #b6d3df 83%, #89c2dc 96%, #89c2dc 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, #e3e3e3), color-stop(46%, #e3e3e3), color-stop(83%, #b6d3df), color-stop(96%, #89c2dc), color-stop(100%, #89c2dc));
background: -webkit-linear-gradient(-45deg, #e3e3e3 0%, #e3e3e3 46%, #b6d3df 83%, #89c2dc 96%, #89c2dc 100%);
background: -o-linear-gradient(-45deg, #e3e3e3 0%, #e3e3e3 46%, #b6d3df 83%, #89c2dc 96%, #89c2dc 100%);
background: -ms-linear-gradient(-45deg, #e3e3e3 0%, #e3e3e3 46%, #b6d3df 83%, #89c2dc 96%, #89c2dc 100%);
background: linear-gradient(135deg, #e3e3e3 0%, #e3e3e3 46%, #b6d3df 83%, #89c2dc 96%, #89c2dc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#89c2dc', GradientType=1 );
			padding-left: 0px;
			border-left:2px solid #1899d3 ;

		}
		.submenu{
			z-index: 1;
			min-height : 100%;
			padding: 0;
			color: #454545;
		}
		.submenu a{
			color: inherit;
		}

		.submenu li{
			margin-bottom: 0em;
			min-height: 5em;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			vertical-align: middle;
			line-height: 5em;
		}
		.selected{
			background-color: rgba(255,255,255,1);
			border-right: 10px solid #1899d3 ;
			padding-right: 30px;
			color:#1899d3;
			margin-left: -2px;
			border-top:	2px solid #1899d3 ;
			border-bottom:	2px solid #1899d3  !important;

		}
		.submenu li:before  {
			content: "<";
			vertical-align: bottom;
			margin-right: 1em;

		}
		table{
			border : 1px solid #e3e3e3;
			margin-top: 3em;
		}
		table th{
			background-color: #e3e3e3;
			padding:1em;
		}
		table td{

			padding: 1em;
			border-bottom: 1px solid #e3e3e3;
		}

