	button.upload{
		width: 100%;
		background-color:transparent;
		border-radius: 0;
		border : none;


	}
	.in {
		color: #1899d3;
		border:#1899d3 solid ;
	}
	.out{
		color: #e74c3c;
		border:#e74c3c solid ;
	}
	.drag{
		height: 450px;
		background-color: #f1f1f1
	}
	 .draggable { 
	 		width: 200px;
	 		cursor: pointer;
	 	}
	.sort ul{
		background-color: #fff;
		border:1px solid #e3e3e3;
		padding: 1em;
	}
	.sort ul:first-child{
		border-radius: 4px 0px 0px 4px;
	}
	.sort ul:last-child{
		border-radius: 0px 4px 4px 0px;
	}
	.sort ul li{
		background-color: #fff;
		border : 1px solid #e3e3e3;
		border-radius: 4px ;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		padding: 1em;
		cursor: pointer;
	}
	#sortable2 li{
		background-color:#27ae60;
		border-color: #2ecc71;
		color: #fff;
	}
	.detail div{
		margin-bottom: 1em;
		padding-right: 3em;
	}
	.exp{
		color: #e74c3c;
	}
	.start{
		color: #2ecc71;
	}
	.hover{
		position: absolute;
		text-align: right;
		direction: rtl;
		margin-top: -5em;
		width: 0%;
		height: 5em;
		background-color: rgba(255,255,255,0.3);
		/*background-color: rgba(24,153,211,0.2);*/
		cursor:pointer;
		z-index: 0;
	}
	.project{
		text-align: right;
		background-color: #f1f1f1;
		border:1px solid #e3e3e3;
		border-radius: 4px;
		padding: 2em;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.project .name{
		font-size: 1.2em;
		color : #454545;
		margin-bottom: 1em;
	}
	.project .button{
		width: 100%;
		vertical-align: middle;
		margin-top: 1em;
		background-color: transparent;
		border:1px solid #1899d3;
		color:#1899d3;
	}
	.main,.sidemenu{
		min-height: 85vh;
	}	
		table{
			border : 1px solid #e3e3e3;
			margin-top: 3em;
		}
		table th{
			background-color: #e3e3e3;
			padding:1em;
		}
		table td{

			padding: 1em;
			border-bottom: 1px solid #e3e3e3;
		}

		.modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(17, 17, 17, 0.86);
}

.modal-content, .modal-card {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .modal-content, .modal-card {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 640px;
  }
}

.modal-close {
  background: none;
  height: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 40px;
}

.modal-card {
  background: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: calc(100vh - 40px);
  overflow: hidden;
}

.modal-card-head,
.modal-card-foot {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f7fa;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px;
  position: relative;
}

.modal-card-head {
  border-bottom: 1px solid #d3d6db;
}

.modal-card-title {
  color: #222324;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 24px;
  line-height: 1;
}

.modal-card-foot {
  border-top: 1px solid #d3d6db;
}

.modal-card-foot .button:not(:last-child), .modal-card-foot .pagination a:not(:last-child), .pagination .modal-card-foot a:not(:last-child) {
  margin-right: 10px;
}

.modal-card-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
  padding: 20px;
}

.modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 1986;
}

.modal.is-active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}


