	button.upload{
		width: 100%;
		background-color:transparent;
		border-radius: 0;
		border : none;


	}
	.in {
		color: #1899d3;
		border:#1899d3 solid ;
	}
	.out{
		color: #e74c3c;
		border:#e74c3c solid ;
	}
	.drag{
		height: 450px;
		background-color: #f1f1f1
	}
	 .draggable { 
	 		width: 200px;
	 		cursor: pointer;
	 	}
	.sort ul{
		background-color: #fff;
		border:1px solid #e3e3e3;
		padding: 1em;
	}
	.sort ul:first-child{
		border-radius: 4px 0px 0px 4px;
	}
	.sort ul:last-child{
		border-radius: 0px 4px 4px 0px;
	}
	.sort ul li{
		background-color: #fff;
		border : 1px solid #e3e3e3;
		border-radius: 4px ;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		padding: 1em;
		cursor: pointer;
	}
	#sortable2 li{
		background-color:#27ae60;
		border-color: #2ecc71;
		color: #fff;
	}
	.detail div{
		margin-bottom: 1em;
		padding-right: 3em;
	}
	.exp{
		color: #e74c3c;
	}
	.start{
		color: #2ecc71;
	}
	.hover{
		position: absolute;
		text-align: right;
		direction: rtl;
		margin-top: -5em;
		width: 0%;
		height: 5em;
		background-color: rgba(255,255,255,0.3);
		/*background-color: rgba(24,153,211,0.2);*/
		cursor:pointer;
		z-index: 0;
	}
	.project{
		text-align: right;
		background-color: #f1f1f1;
		border:1px solid #e3e3e3;
		border-radius: 4px;
		padding: 2em;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.project .name{
		font-size: 1.2em;
		color : #454545;
		margin-bottom: 1em;
	}
	.project .button{
		width: 100%;
		vertical-align: middle;
		margin-top: 1em;
		background-color: transparent;
		border:1px solid #1899d3;
		color:#1899d3;
	}
	.main,.sidemenu{
		min-height: 85vh;
	}
		.sidemenu{
			/*background:linear-gradient(141deg, #4DABA5 0%, #56B4BF 51%, #5DA9C6 75%);
			background:-webkit-linear-gradient(141deg, #4DABA5 0%, #56B4BF 51%, #5DA9C6 75%);
			background:-moz-linear-gradient(141deg, #4DABA5 0%, #56B4BF 51%, #5DA9C6 75%);
			background:-o-linear-gradient(141deg, #4DABA5 0%, #56B4BF 51%, #5DA9C6 75%);*/



background: #e3e3e3;
background: -moz-linear-gradient(-45deg, #e3e3e3 0%, #e3e3e3 46%, #b6d3df 83%, #89c2dc 96%, #89c2dc 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, #e3e3e3), color-stop(46%, #e3e3e3), color-stop(83%, #b6d3df), color-stop(96%, #89c2dc), color-stop(100%, #89c2dc));
background: -webkit-linear-gradient(-45deg, #e3e3e3 0%, #e3e3e3 46%, #b6d3df 83%, #89c2dc 96%, #89c2dc 100%);
background: -o-linear-gradient(-45deg, #e3e3e3 0%, #e3e3e3 46%, #b6d3df 83%, #89c2dc 96%, #89c2dc 100%);
background: -ms-linear-gradient(-45deg, #e3e3e3 0%, #e3e3e3 46%, #b6d3df 83%, #89c2dc 96%, #89c2dc 100%);
background: linear-gradient(135deg, #e3e3e3 0%, #e3e3e3 46%, #b6d3df 83%, #89c2dc 96%, #89c2dc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#89c2dc', GradientType=1 );
			padding-left: 0px;
			border-left:2px solid #1899d3 ;

		}
		.submenu{
			z-index: 1;
			min-height : 100%;
			padding: 0;
			color: #454545;
		}
		.submenu a{
			color: inherit;
		}

		.submenu li{
			margin-bottom: 0em;
			min-height: 5em;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			vertical-align: middle;
			line-height: 5em;
		}
		.selected{
			background-color: rgba(255,255,255,1);
			border-right: 10px solid #1899d3 ;
			padding-right: 30px;
			color:#1899d3;
			margin-left: -2px;
			border-top:	2px solid #1899d3 ;
			border-bottom:	2px solid #1899d3  !important;

		}
		.submenu li:before  {
			content: "<";
			vertical-align: bottom;
			margin-right: 1em;

		}
		table{
			border : 1px solid #e3e3e3;
			margin-top: 3em;
		}
		table th{
			background-color: #e3e3e3;
			padding:1em;
		}
		table td{

			padding: 1em;
			border-bottom: 1px solid #e3e3e3;
		}

