<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/bulma.min.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/component-list.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{{url_for('static',filename='scripts/jquery.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='scripts/hoverIntent.min.js')}}"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-left">

        </div>
        <div class="header-right" style="direction: rtl;">
            <a class="header-item logo" href="{{url_for('main.index')}}">
                <img src="{{url_for('static',filename='abrio-blue.png')}}">
                    <span class="header-banner">
                     اَبریو
                    </span>
            </a>

            <a class="header-item" href="{{url_for('main.panel')}}">خانه</a>
        </div>

    </div>
</header>
<div class="hero is-large">

    <div class="columns">


        <div class="column is-3 sidemenu ">

            <ul class="submenu">
                <a href="{{url_for('user.info',uid=current_user.id)}}">
                    <li>مشخصات من
                        <div class="hover"></div>
                    </li>
                </a>

                <a href="{{url_for('project.list_projects')}}">
                    <li>پروژه های من</li>
                </a>
                <a href="{{url_for('component.list_components')}}">
                    <li class="selected">کامپوننت های من
                        <div class="hover"></div>
                    </li>
                </a>
            </ul>
        </div>


        <!-- content -->
                <div class="column is-11-mobile is-8 is-offset-1 main">
            
                <div class="columns" >
                    <a href="#" class="column is-3 is-offset-1 card">
                       <div >
                        <div class="card-image">
                            <fisgure class="image is-4by3">
                              <img src="http://placehold.it/300x225" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title">Component 1</p>
                        </div>
                    </div> 
                    </a>
                    <a href="#" class="column is-3 card">
                       <div >
                        <div class="card-image">
                            <fisgure class="image is-4by3">
                              <img src="http://placehold.it/300x225" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title">Component 1</p>
                        </div>
                    </div> 
                    </a>
                    <a href="#" class="column is-3 card">
                       <div >
                        <div class="card-image">
                            <fisgure class="image is-4by3">
                              <img src="http://placehold.it/300x225" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title">Component 1</p>
                        </div>
                    </div> 
                    </a>
                    
                </div>

            <br>
            <form method=post action="{{url_for('component.search')}}">
                <div class="columns">
                    <div class="column rtl is-6 is-offset-1">{{search_form.name(class="input") }}</div>
                    <div class="column rtl is-4"><input type="submit" class="button is-success" value="جستجو"></input>
                    </div>
                </div>
                {{search_form.csrf_token}}
            </form>
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    {% for component in components%}
                    <div class="project">

                        <div class="columns">

                            <div class="column is-4">
                                <div class="columns">
                                    <div align="center" class="column is-4">
                                        <a href="{{url_for('component.view',cid=component.id)}}">
                                            <p><i style="font-size:1.5em;" class="fa fa-angle-left"></i></p>
                                            <p>جزئیات</p>
                                        </a>

                                    </div>
                                    <div align="center" class="column is-4">
                                        <p>3.5k</p>
                                        <h4>ستاره</h4>
                                    </div>
                                    <div align="center" class="column is-4">
                                        <p>200+</p>
                                        <h4>استفاده</h4>
                                    </div>

                                </div>
                            </div>
                            <div class="column is-8">
                                <div class="name">{{component.name}}</div>

                            </div>


                        </div>

                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>

</div>

<footer class="footer">
    <div class="container">
        <div class="content is-centered">
            <p><strong>اَبریو</strong> پشتتون رو خالی نمیکنه :)</p>
        </div>
    </div>
</footer>

</body>
<script type="text/javascript">
	$('.submenu li ').hoverIntent(function(){
		$(this).find('.hover').animate({"width":"100%"},function(){});
	},function(){
		$(this).find('.hover').animate({"width":"0%"},function(){});
	});
	




</script>

</html>
