{% extends "base.html" %}
{%block head %}
{{super()}}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/component-view.css')}}">
{% endblock %}


{%block content %}
        <!-- content -->
        <div class="column is-8 is-offset-1 main">
            <br>
            <div class="columns">
				{% if return_to_project %}
                <div class="column rtl is-3">


                    <a href="{{url_for('project.view',pid=return_to_project )}}">بازگشت ></a>

                </div>
				{%endif%}
                <div class="column rtl is-8">
                    <h1 class="title">نام کامپوننت : <input id="name" type="text" value="{{component.name}}" disabled>
                    </h1>
                </div>
            </div>
            <div class="columns detail">
                <div class="column is-10 is-offset-1">
                    <div align="right" dir="rtl"><span>نسخه کامپوننت :<select
                            id="selectversion" disabled>
                        {% for version in version_choices %}
                        <option value="{{version}}">{{version}}</option>
                        {% endfor %}
                    </select></span></div>

                </div>
            </div>

            <div class="columns detail">
                <div class="column is-10 is-offset-1">
                    {% if component.private %}
                    <div align="right" dir="rtl">
                        خصوصی
                    </div>

                    {% else %}
                    <div align="right" dir="rtl">
                        عمومی

                    </div>
                    {% endif %}
                </div>
            </div>
            {% if component.owner_id==current_user.id %}
            <div class="columns">
                <div align="right" class="column is-10 is-offset-1">
                    <button id="editbutton" class=" button is-primary" onclick="edit()">ویرایش</button>
                    <button id="savebutton" class=" button is-primary" onclick="save()" style="display: none;">ذخیره
                    </button>
                </div>
            </div>
            <div class="columns">
                <div align="right" class="column is-10 is-offset-1">
                    <label class="label">ارسال فایل</label>
                    <form method=post action="{{url_for('component.upload',cid=component.id)}}"
                          enctype="multipart/form-data">
                        {{ upload_form.file(class="input") }}<br>
                        {{ upload_form.version(class="input")}}<br>
                        {{ upload_form.csrf_token }}
                        <div class="hero is-large">
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>
                        <input class="button is-success" type="submit" value="آپلود">
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
{% endblock %}

{% block script %}
{{super()}}
    $(document).ajaxStop(function(){
    window.location.reload();});

	function edit(){
		$('input:disabled').removeAttr('disabled');
		$('select:disabled').removeAttr('disabled');
		$('#editbutton').hide();
		$('#savebutton').show();
	};

	function save(){
	    var cid = {{component.id}}
	    var e = document.getElementById("selectversion");
        var version = e.options[e.selectedIndex].value;
        var name = document.getElementById("name").value;
		var arr = { id: cid, name: name, version: version };
        $.ajax({
        url: '/api/v1/component/edit',
        type: 'POST',
        data: JSON.stringify(arr),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: false,
        success: function(msg) {
        }
    });
	};
{%endblock%}

{%block style%}
input:disabled{
	background-color: transparent;
	border:none;
}
	.sort ul{
		background-color: #fff;
		border:1px solid #e3e3e3;
		padding: 1em;
	}
	.sort ul:first-child{
		border-radius: 4px 0px 0px 4px;
	}
	.sort ul:last-child{
		border-radius: 0px 4px 4px 0px;
	}
	.sort ul li{
		background-color: #fff;
		border : 1px solid #e3e3e3;
		border-radius: 4px ;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		padding: 1em;
		cursor: pointer;
	}
	#sortable2 li{
		background-color:#27ae60;
		border-color: #2ecc71;
		color: #fff;
	}
	.detail div{
		margin-bottom: 1em;
		padding-right: 3em;
	}
	.exp{
		color: #e74c3c;
	}
	.start{
		color: #2ecc71;
	}
	.hover{
		position: absolute;
		text-align: right;
		direction: rtl;
		margin-top: -5em;
		width: 0%;
		height: 5em;
		background-color: rgba(255,255,255,0.3);
		/*background-color: rgba(24,153,211,0.2);*/
		cursor:pointer;
		z-index: 0;
	}
	.project{
		text-align: right;
		background-color: #f1f1f1;
		border:1px solid #e3e3e3;
		border-radius: 4px;
		padding: 2em;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.project .name{
		font-size: 1.2em;
		color : #454545;
		margin-bottom: 1em;
	}
	.project .button{
		width: 100%;
		vertical-align: middle;
		margin-top: 1em;
		background-color: transparent;
		border:1px solid #1899d3;
		color:#1899d3;
	}
		table{
			border : 1px solid #e3e3e3;
			margin-top: 3em;
		}
		table th{
			background-color: #e3e3e3;
			padding:1em;
		}
		table td{

			padding: 1em;
			border-bottom: 1px solid #e3e3e3;
		}
{%endblock%}
