{% extends "base.html" %}
{%block head %}
{{super()}}
    <title>{{project.name}} در ابریو</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/project-view.css')}}">
{% endblock %}
{%block content %}
	<div class="column is-11-mobile is-8 is-offset-1 main">
	<div class="columns is-multiline">
		<div class="column is-6">
			<img src="{{url_for('project.top_project_image',tpid=project.id)}}" alt="none">		
		</div>
		<div class="column is-10 is-offset-1"><p>{{project.name}}</p></div>
		<div class="column is-10 is-offset-1"><p text-align="center">{{project.description}}</p></div>
	</div>
	</div>	

    {%endblock%}
{%block script %}
{{super()}}
document.getElementsByClassName("submenu")[0].getElementsByTagName("li")[2].className="selected";
{% endblock %}