<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project View</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
            <li>{{ message }}</li>
                {% endfor %}
             </ul>
        {% endif %}
    {% endwith %}

info:
<p>Project Name : {{project.name}}</p>
{% if project.plan %}
<p>Plan : {{project.plan}}</p>
{% else %}
<p> no plan has been set</p>
{% endif %}

define logic:<br>
{% from "_fieldrender.html" import render_field %}
<form method=post action="{{url_for('project.define_logic',pid=project.id)}}" enctype="multipart/form-data">
    {{ render_field(logic_form.component1)}}<br>
    {{ render_field(logic_form.component2) }}<br>
    {{ render_field(logic_form.message_type) }}<br>
    {{ logic_form.csrf_token }}
    <input type="submit" value="Add">
    </form>
    <ul>
    {% for c1,c2,t in logic_view%}
       <li> <a href="{{url_for('component.view',cid=c1.id)}}">{{c1.name}}</a>-<a href="{{url_for('component.view',cid=c2.id)}}">{{c2.name}}</a>  : {{t}}</li>
    {% endfor %}
        </ul>
</body>
</html>